@model Domain.ViewModels.ClientPageViewModel
@{
    Layout = "_PortalLayout";
    ViewData["Title"] = "Clients";
}

<section id="clients">
    <header>
        <h2>@ViewData["Title"]</h2>
        <button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-blue btn-add">
            Add Client
        </button>
    </header>

    <div class="client-card-grid">
        @foreach (var client in Model.Clients)
        {
            <partial name="Partials/Sections/_ClientCard" model="client" />
        }
    </div>
</section>

<partial name="Partials/Sections/_AddClientForm" model="Model.NewClientForm" />

<div id="editClientContainer"></div>
