<header class="topbar">
    <div class="search-container">
        <img src="/images/icons/Search.svg" alt="Search Icon" class="icon" />
        <input type="text" placeholder="Search anything..." />
    </div>

    <div class="topbar-icons">
        <img src="/images/icons/Notification.svg" alt="Notifications" class="icon" />

        <div class="settings-menu-wrapper">
            <img src="/images/icons/Setting.svg" alt="Settings" class="icon settings-toggle" />

            <div class="settings-dropdown hidden">
                <div class="user-info">
                    <img src="/uploads/members/avatars/default.svg" alt="User" class="avatar-small" />
                    <span>Tommy Mattin-Lassei</span>
                </div>
                <div class="dark-mode-toggle">
                    <img src="/images/icons/Setting.svg" class="icon-small" />
                    <span>Dark Mode</span>
                    <input type="checkbox" disabled />
                </div>
                <a href="#" id="logoutButton" class="logout-btn">
                    <img src="/images/icons/Logout.svg" class="icon-small" />
                    Logout
                </a>
            </div>
        </div>

        <img src="/uploads/members/avatars/default.svg" alt="User Avatar" class="avatar" />
    </div>
</header>
