<form asp-controller="Auth" asp-action="ExternalSignIn" method="post" class="external-account" novalidate>

    <input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />

    <a href="@Url.Action("ExternalSignIn", "Auth", new { provider = "Google", returnUrl = "~/admin" })" class="btn btn-gray google-btn">
        <img src="~/images/Icons/google-icon.svg" alt="Google logo" class="google-icon" />
        Login with Google
    </a>


</form>