@model SignInFormModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin Login";
}

<section class="admin-signin-wrapper two-column-layout">
    <div class="welcome-container">
        <div class="welcome-text bottom-align">
            <h1><span class="white-text">Welcome to</span> <span class="orange-text"><strong>Admin Panel</strong></span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</p>
        </div>
    </div>

    <div class="admin-signup">
        <div class="form">
            <h1 class="form-header signin-title">Login</h1>

            @await Html.PartialAsync("Partials/Components/_ExternalAuthenticationPartial")

            <div class="SignIn-Divider">
                <hr />
                <span>OR</span>
                <hr />
            </div>

            <form id="admin-signin-form" class="form signin-form form extended-validation" method="post" asp-action="AdminLogin" asp-controller="Auth" novalidate>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div class="field-group">
                        <input asp-for="Email" data-val="true" data-val-required="Email is required" autocomplete="off" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="field-group">
                        <div class="input-with-icon">
                            <input asp-for="Password" data-val="true" data-val-required="Password is required" id="passwordField" />
                            <span id="togglePassword" class="toggle-password">
                                <img src="~/images/Icons/Hide.svg" alt="Toggle Password" class="toggle-icon" />
                            </span>
                        </div>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>

                <div class="form-options">
                    <div class="remember">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe">Remember Me</label>
                    </div>
                    <div class="forgot">
                        <a asp-action="ForgotPassword" asp-controller="Auth">Forgot Password?</a>
                    </div>
                </div>

                <div class="form-message"></div>

                <button type="submit" class="btn btn-blue">Log In as Admin</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            bindFormSubmitHandlers();
            bindTogglePassword();
        });
    </script>
}
