@model Business.Models.ForgotPasswordFormModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Forgot Password";
}

<div class="center-screen">
    <div class="surface">
        <h1 class="form-header forgot-passwordheader">Forgot Password</h1>
        <p class="forgot-password-p">Please enter your email to reset your password.</p>

        <form class="form extended-validation" method="post" asp-action="ForgotPassword" asp-controller="Auth" novalidate>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email" data-val="true" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-blue btn-forgot">Submit</button>
        </form>

        <div class="SignIn-Footer" style="margin-top:1rem;">
            <p>Remembered your password? <a asp-action="SignIn" asp-controller="Auth">Sign In</a></p>
        </div>
    </div>
</div>
