@model Business.Models.ResetPasswordFormModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Reset Password";
}

<div class="center-screen">
    <div class="surface">
        <h1 class="form-header forgot-passwordheader">Reset Password</h1>
        <form class="form extended-validation" method="post" asp-action="ResetPassword" asp-controller="Auth" novalidate>
            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />

            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <div class="field-group">
                    <input asp-for="NewPassword" data-val="true" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <div class="field-group">
                    <input asp-for="ConfirmPassword" data-val="true" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-blue btn-forgot">Reset Password</button>
        </form>
        <div class="SignIn-Footer" style="margin-top:1rem;">
            <p>Back to <a asp-action="SignIn" asp-controller="Auth">Sign In</a></p>
        </div>
    </div>
</div>
