@model SignInFormModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign in";
}

<div class="center-screen">
    <div class="surface">
        <h1 class="form-header signin-title">Login</h1>

        <form class="form signin-form form extended-validation" method="post" asp-action="SignIn" asp-controller="Auth" novalidate>

            <!-- Google login -->
            @await Html.PartialAsync("Partials/Components/_ExternalAuthenticationPartial")

            <div class="SignIn-Divider">
                <hr />
                <span>OR</span>
                <hr />
            </div>

            <!-- Email -->
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email" data-val="false" autocomplete="off" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="field-group">
                    <div class="input-with-icon">
                        <input asp-for="Password" data-val="false" id="passwordField" />
                        <span id="togglePassword" class="toggle-password">
                            <img src="~/images/Icons/Hide.svg" alt="Toggle Password" class="toggle-icon" />
                        </span>
                    </div>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <!-- Remember Me och Forgot Password -->
            <div class="form-options">
                <div class="remember">
                    <input asp-for="RememberMe" />
                    <label asp-for="RememberMe">Remember Me</label>
                </div>
                <div class="forgot">
                    <a asp-action="ForgotPassword" asp-controller="Auth">Forgot Password?</a>
                </div>
            </div>

            <div class="form-message"></div>
            <!-- Submit -->
            <button type="submit" class="btn btn-blue">Log In</button>
        </form>

        <!-- Footer -->
        <div class="SignIn-Footer">
            <p>Don't have an account? <a asp-action="SignUp" asp-controller="Auth">Sign Up</a></p>
        </div>
    </div>
</div>
